<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header class="title">music genre predictor</header>

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}

	<div id="team-name-footer">brought to you by GenreGen</div>
</body>

<form class="form" method="post" action="/" enctype="multipart/form-data">
	<input class="form-button" type="file" name="file" autocomplete="off" required>
	<input class="form-button submit-button" type="submit" value="Submit">
</form>
</html>